// -------------------------------------------------------
// GRID
// -------------------------------------------------------

$grid-width: 100%;
$grid-max-width: 1024px;

$col-number: 9;
$margin: 10%;

$col-width: calc(#{$grid-width} / #{$col-number});


.grid-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000000;
    pointer-events: none;
    top: 0;
    left: 50%;
    width: $grid-width;
    height: 100vh;
    max-width: $grid-max-width;
    box-sizing: border-box;

    background: rgba(0, 0, 0, .3);
    border-right: 1px solid #000;
    border-left: 1px solid #000;

    transform-origin: top center;
    transform: translateX(-50%) scaleY(0);

    transition: border-color .3s ease-out, transform .3s ease-out;

    &.white {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    &.is-open {
        transform: translateX(-50%) scaleY(1);
    }
}

.grid-column {
    flex: 1;
    display: block;
    width: $col-width;
    height: 100%;
    // background: rgba(0, 0, 0, .5);

    transition: border-color .3s ease-out;

    &:not(:last-child) {
        border-right: 1px solid #000;

        .white & {
            border-right: 1px solid #fff;
        }
    }
}
